/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*common styles or utilites*/

body{
	font-family: 'Poppins', sans-serif;
	background-color: #f3f1ff;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	background-color: #fff;
	width: 870px;
	padding: 30px;
	margin-top: 21px;
	border-radius: 5px;
}
hr {
	border: 1px solid #d1d1d1;
	margin-bottom: 30px;
}

/*top players style*/
.top-players {
	margin-bottom: 30px;
}
.section-title {
	color: #562EFF;
	font-size: 24px;
	margin-top: 3px;
}
.players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
}
.player {
	display: flex;
	align-items: center;
}
.player img {
	width: 56px;
	height: 56px;
}
.player-name {
	margin-left: 16px;
	font-size: 18px;
}

/*top blogs styles*/
.blogs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 26px;
}
.blog {
	display: flex;
	align-items: flex-start; /*that on extra from jhankar vai code*/
}
.blog .thumbnail img {
	width: 177px;
	height: 117px;
}
.blog-info {
	margin-left: 16px;
}
.blog-title {
	font-size: 20px;
	margin: 0; /*that on extra from jhankar vai code*/
}
.blog-author {
	color: #9f9f9f;
	font-size: 16px;
}
.blog-author a{
	text-decoration: none;
	color: #562ef;
}

/*--------------------
	courses styles
---------------------*/

.courses {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 24px;
}
.course .course-banner img {
	width: 224px;
	height: 104px;
}
.course-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fa-star {
	font-size: 12px;
}
.fa-star.filled {
	color: #ffc014;
}
.fa-star.empty {
	color: #858072;
}



/*Media Queries*/
@media only screen and (max-width: 688px) {
	.container {
		width: 100%;
	}
	.players,
	.blogs,
	.courses {
		grid-template-columns: repeat(1, 1fr);
	}
	.player {
		flex-direction: column;
	}
}

/*tablet devices*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
	.container {
		width: 100%;
	}
	.players {
		grid-template-columns: repeat(2, 1fr);
	}
}